html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: #f8f1f3;
  font-family: "Didact Gothic", sans-serif;
}

a:hover {
  text-decoration: none;
}

.navbarInside {
  background-color: #fccedf;
}
.navbarColor {
  background-color: #fccedf;
  box-shadow: 0 4px 2px -2px gray;
}

.bigDiv {
  display: block;
  background-color: white;
  border: none;
  border-radius: 10px;
  width: 97%;
  margin: 0 auto;
  margin-top: 7px;
  box-shadow: 0px 8px 10px grey;
  padding: 20px;
}

section {
  padding-bottom: 15px;
}

h1 {
  font-size: 35px;
  text-align: center;
  color: #f5b19f;
  font-family: "Passion One", cursive;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: #df89a4;
  font-family: "Passion One", cursive;
}

p {
  font-size: 23px;
  line-height: 1.2;
  text-align: center;
  color: #c5b9ed;
}

.mainButton {
  display: block;
  margin: 0 auto;
  background-color: #f5b19f;
  border: none;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 2px 5px grey;
  color: white;
  margin-bottom: 10px;
}

.mainButton:hover {
  background-color: white;
  color: #f5b19f;
}

.secondaryButtons {
  display: block;
  margin: 0 auto;
  background-color: #c5b9ed;
  border: none;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 2px 5px grey;
  color: white;
  margin-bottom: 10px;
}

.secondaryButtons:hover {
  background-color: white;
  color: #c5b9ed;
}

.terciaryButtons {
  display: block;
  margin: 0 auto;
  background-color: #df89a4;
  border: none;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 2px 5px grey;
  color: white;
  margin-bottom: 10px;
}

.terciaryButtons:hover {
  background-color: white;
  color: #df89a4;
}

.generalInputs {
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}

video {
  width: 95%;
  border-radius: 10px;
  box-shadow: 0px 2px 5px grey;
  display: block;
  margin: 40px
}

.optionOne {
  display: block;
  margin: 0 auto;
  background-color: #c5b9ed;
  border: none;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 2px 5px grey;
  color: white;
  margin-bottom: 10px;
}

.optionTwo {
  display: block;
  margin: 0 auto;
  background-color: #df89a4;
  border: none;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 2px 5px grey;
  color: white;
  margin-bottom: 10px;
}

footer {
  background-color: #df89a4;
  margin-top: 15px;
  box-shadow: 0px 2px 5px grey;
  padding: 25px;
}

.footerSigns {
  color: white;
  font-size: 13px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.finalResult {
  display: block;
  margin: 0 auto;
  font-size: 50px;
  margin-top: 15px;
}

ol {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

li {
  margin: 30px;
  font-size: 20px;
  color: grey;
  font-weight: bold;
}

h3 {
  text-align: center;
}

.outfitImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.clothes {
  width: 40%;
  border-radius: 20px;
  margin: 5px;
}

.navbarLink {
  text-decoration: none;
  color: white;
}


/*------ Media Queries ------*/

/* Medium and Large */

@media (min-width: 768px) {
  h1 {
    font-size: 55px;
  }
  
  h2 {
    font-size: 40px;
  }
  
  p {
    font-size: 33px;
  }
  
  video {
    width: 75%;
  }

  li {
    font-size: 30px;
  }

  .clothes {
    width: 20%;
  }

  .footerSigns {
    font-size: 20px;
  }

  .mainButton {
    font-size: 20px;
    padding: 15px;
  }

  .secondaryButtons {
    font-size: 20px;
    padding: 15px;
  }

  .terciaryButtons {
    font-size: 20px;
    padding: 15px;
  }

  .optionOne {
    font-size: 20px;
    padding: 15px;
  }

  .optionTwo {
    font-size: 20px;
    padding: 15px;
  }

  .bigDiv {
    width: 93%;
  }

  .generalInputs {
    font-size: 25px;
  }
}

/* Extra large and Extra Extra Large*/

@media (min-width: 1200px) {
  .bigDiv {
    width: 85%;
  }
}

